{% extends "base.html" %}
{% block content %}
<section class="ranking-section">
    <h1>Ranking Geral</h1>
    <p>Acompanhe a pontuação dos atletas da USP em tempo real!</p>

    <div style="margin-bottom: 2vh;">
        <input type="text" 
        name="q" 
        placeholder="Buscar atleta por nome..." 
        hx-get="/buscar" 
        hx-target="#ranking-table-body" 
        hx-trigger="keyup changed delay:500ms"
        style="padding: 8px; width: 300px; border-radius: 4px; border: 1px solid #ccc;">
    </div>

    {% if jogadores %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Nome</th>
                        <th>Pontos</th>
                        <th>Mão</th>
                        <th>Ações</th> </tr>
                </thead>
                <tbody id="ranking-table-body">
                    {% for jogador in jogadores %}
                    <tr>
                        <td>{{ loop.index }}º</td> 
                        <td>{{ jogador.nome }}</td>
                        <td>{{ jogador.pontos_totais }}</td>
                        <td>{{ jogador.mao_dominante }}</td>
                        
                        <td>
                            <button style="background: blue; color: white; border: none; padding: 5px; cursor: pointer; border-radius: 3px; margin-right: 5px;"
                                hx-put="/jogadores/{{ jogador.nusp }}/aniversario"
                                hx-swap="none"
                                onclick="alert('Idade atualizada!')">
                                +1 Ano
                            </button>

                            <button style="background: red; color: white; border: none; padding: 5px; cursor: pointer; border-radius: 3px;"
                                hx-delete="/jogadores/{{ jogador.nusp }}"
                                hx-target="closest tr"
                                hx-swap="outerHTML">
                                Aposentar
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="vazio-container" style="text-align: center; padding: 5vh; background: white; border-radius: 8px;">
            <p>Ninguém por aqui ainda...</p>
            <p>Que tal se cadastrar para ser o João Fonseca da USP?</p>
            <br>
            <a href="/cadastro" class="botao" style="text-decoration: none;">Ir para Cadastro</a>
        </div>
    {% endif %}
  
</section>
{% endblock %}